{% extends "blocks/base.html" %}
{% load static %}

{% block title %}
    Men - Store | Canvas
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/components/ion.rangeslider.css' %}" type="text/css"/>
{% endblock %}

{% block modal %}
    {% include "blocks/modal.html" %}
{% endblock %}

{% block content %}
    <!-- Page Title
            ============================================= -->
    <section id="page-title" class="page-title-parallax page-title-dark page-title-center"
             style="background-image: url('{% static 'demos/store/images/men/page-title.jpg' %}'); background-size: cover; padding: 170px 0 100px;"
             data-bottom-top="background-position: 50% 200px;" data-top-bottom="background-position: 50% -200px;">

        <div class="container clearfix">
            <h1>Men Collections</h1>
            <span>A Fresh Collections Of Men</span>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Men</li>
            </ol>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap pb-0">

            <!-- Login/Register Modal -->
            {% include "registration/login.html" %}
            <!-- Login/Register Modal End -->

            {% include "blocks/collections_menu.html" %}

            <div class="section mb-0 py-6">
                <div class="container-fluid">
                    <div class="row justify-content-center m-auto" style="max-width: 1000px;">
                        <div class="col-md-7">
                            <p class="h6 mb-0 text-muted">Conveniently network effective total linkage via intermandated
                                opportunities. Distinctively <a
                                        href="mailto:noreply@canvas.com"><u>noreply@canvas.com</u></a> premium products.
                            </p>
                        </div>
                        <div class="col-md-5 mt-3 mt-md-0">
                            <h2 class="h1 font-weight-bold ls--1 color"><a href="tel:09876543211">(+0) 9876 543210</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #content end -->

{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/components/rangeslider.min.js' %}"></script>
    <script>
        var priceRangefrom = 0,
            priceRangeto = 0,
            $container = null;
        setTimeout(function () {
            $container.imagesLoaded(function () {
                $container.isotope({
                    filter: '{{ js_filter }}',
                });
            });
        }, 500);
        jQuery(window).on('load', function () {

            $container = $('#shop');

            $container.isotope({transitionDuration: '0.65s'});

            $('.shop-filter a').click(function () {
                $('.shop-filter li').removeClass('activeFilter');
                $(this).parent('li').addClass('activeFilter');
                var selector = $(this).attr('data-filter');
                $container.isotope({filter: selector});
                return false;
            });
            $(window).resize(function () {
                $container.isotope('layout');
            });

        });

        jQuery(document).ready(function ($) {

            $(".range_23").ionRangeSlider({
                type: "double",
                min: 0.99,
                max: 499.99,
                from: 0.99,
                to: 499.99,
                prefix: '$',
                hide_min_max: true,
                hide_from_to: false,
                grid: false,
                onStart: function (data) {
                    priceRangefrom = data.from;
                    priceRangeto = data.to;
                },
                onFinish: function (data) {
                    priceRangefrom = data.from;
                    priceRangeto = data.to;

                    $container.isotope({
                        filter: function () {

                            if ($(this).find('.product-price').find('ins').length > 0) {
                                var price = $(this).find('.product-price ins').text();
                            } else {
                                var price = $(this).find('.product-price').text();
                            }

                            priceNum = price.split("$");

                            return (priceRangefrom <= priceNum[1] && priceRangeto >= priceNum[1]);
                        }
                    });

                }
            });

        });
    </script>
{% endblock %}
